html{
  font-family: Verdana, sans-serif;
  background-color: black;
}
h1{

  font-size: 50px;
  font-weight: normal;
  color: white;
  text-align: center;
}
.download{
  color: aquamarine;
  font-size: 16px;
  text-align: center;
}
.center{
  text-align: center;
  color: white;
  font-size: 42px;
}
.copyright{
  color: gray;
  text-align: right;
}
#video{
  background-color: black;
}
#recommends{
  color: gray;
  font-size: 21px;
}
